<div class="card" >
    <img src="../../../../assets/images/images1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Old Fashion Blueberry Cobbler</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="starts">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half"></i>
      </div>
      <a href="#" class="btn Learn-btn mb-2">Learn More</a>
    </div>
  </div>

 

  