<section class="d-flex flex-column container w-75 align-items-center text-center">
    <figure class="logo my-5">
        <img class="w-100" src="../../../assets/images/logo.jpg" alt="" />
    </figure>

    <p class="fs-2 display-1">Your recipes are waiting</p>
    <p class="fs-6 display-3">Connect to customize your recipe discovery.</p>

    <button class="btn loginBtn btn-primary rounded-pill container d-flex justify-content-start align-items-center px-1">
    <span class="loginBtnIcon bg-light">
      <i>
        <img
          style="width: 100%"
          src="../../../assets/images/facebook.png"
          alt=""
      /></i>
    </span>
    <span class="btn-text">connect with facebook</span>
  </button>

    <button class="btn loginBtn btn-light rounded-pill container d-flex justify-content-start align-items-center shadow-lg text-dark px-1">
    <span class="loginBtnIcon bg-light">
      <i>
        <img src="../../../assets/images/google.png" alt="" class="w-100 p-1" />
      </i>
    </span>
    <span class="btn-text">connect with google</span>
  </button>
    <button class="btn loginBtn btn-primary rounded-pill container d-flex justify-content-start align-items-center px-1" style="background-color: '#3a9691'">
    <span class="loginBtnIcon bg-light">
      <i>
        <img
          src="../../../assets/images/email.png "
          class="w-100 p-1"
          alt=" "
        />
      </i>
    </span>
    <span class="btn-text">connect with email</span>
  </button>
</section>