
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="slider" *ngIf="images && images.length >0">
                 <img  *ngFor="let img of images; let i = index "
                       [src]="img.ImgSource" [alt]="img.imgAlt"
                       [ngClass]="{'image-active':selectedIndex === i}"
                       >
             </div>
        </div>
        <div class="col-md-12">
            <div *ngIf="indicators" class="dots-container">
                <span *ngFor="let dot of images ; let i = index"
                      class="dot" [ngClass]="{'active':selectedIndex === i}" 
                      (click)="selectedImg(i)">
  
                </span>
               </div>
        </div>
     </div>
</div>
