.add-collection-card {
    display: flex;
    width: 220px;
    height: 220px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%23BABABAFF' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 30px;
}

.plus-icon {
    width: 50px;
    height: 50px;
    border: 50%;
}

.add-collection-text {
    font-size: .9em;
    color: #3a9691;
    margin-top: 10px;
    height: 40px;
    white-space: nowrap;
}

.collection {
    display: flex;
    overflow: hidden;
    min-width: 220px;
    max-width: 220px;
}

.collection:hover {
    cursor: pointer;
}

.collection-img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 30px;
}

.collection-name {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure {
    width: 220px;
    height: 220px;
    border-radius: 16px;
}