* {
    padding: 0px;
    margin: 0px;
}

main-page {
    margin: auto;
}

.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.bio-input {
    width: 200px;
    overflow: scroll;
    display: inline-block;
    border: solid 1px red;
    height: 30px;
    margin-right: 20px;
}

.bio-input:focus {
    box-shadow: none;
    width: 200px;
    outline: none !important;
}

.bio-input:hover,
.bio:hover {
    cursor: pointer;
}

.user-info {
    min-width: 220px;
}

.bio {
    width: fit-content;
}

.social-link {
    border-radius: 50%;
    width: 22px;
    margin: 5px;
}

.social-link:hover {
    cursor: pointer;
}

.sep-line {
    width: 1px;
    height: 20px;
    margin: 0px 5px;
    background-color: gray;
}

.location-item {
    margin: 0px 5px;
    color: gray;
    font-size: .9em;
}

.location-item:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: 400;
    margin: 5px 5px;
    font-size: .8em;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 3px white solid;
}

.inside-nav {
    margin: auto;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

.active {
    padding-bottom: 10px;
    border-bottom: 3px #3a9691 solid;
}

@media screen and (max-width: 992px) {
    .sep-line {
        width: 20px;
        height: 1px;
        margin: 5px 0px;
    }
}